.allBusinessCardContainer {
  /* background-color: black; */
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center
}
