.customAppBar {
  background-color: rgba(202, 163, 78, 0.7) !important;
}

.toolbarLeft {
  flex-basis: 0 !important;
  flex-grow: 1 !important;
  text-align: start;
}

.toolbarRight {
  flex-basis: 0 !important;
  flex-grow: 1 !important;
  text-align: end;
}

.customModal {
  background-color: transparent;
  text-align: center;
  width: 50%;
  /* Centers the modal */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
