.customModal {
  background-color: transparent;
  text-align: center;
  width: 50%;
  /* Centers the modal */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reservationButton {
  background-color: #caa34e !important;
}
