.customModal {
  /* background-color: whitesmoke;
  border-radius: 10px; */
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customModal h3 {
  /* background-color: red; */
  margin: 0px;
  padding: 10px;
}

.reservationsContainer {
  /* background-color: lavender; */
  display: flex;
  justify-content: center;
  align-items: center;
}
