.searchContainer {
  /* background-color: olive; */
}

.searchOptions {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.searchOptions li {
  /* background-color: aqua; */
  /* margin: 0px 10px 0px 10px; */
  color: #404040;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.searchOptions li:hover {
  color: #caa34e;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0px 10px 0px 10px;
}

.searchOptions li.active {
  color: #caa34e;
}

.searchCustomHr {
  width: 50%;
  opacity: 0.6;
  height: 2px;
  background-color: white;
  border: 0;
}

.searchCustomTextfield {
  background-color: white;
}

.searchButton {
  background-color: #caa34e !important;
}
