.search-container {
  background-color: olive;
}

.search-options {
  list-style: none;
  display: flex;
  justify-content: center;
}

.search-options li {
  background-color: aqua;
  margin: 20px;
}

.search-options li.active {
  background-color: #f9f9f9;
  font-weight: bold;
}
